.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.SpaceBackground {
 background-image:
  url(
"https://quantumone.b-cdn.net/Untitled%20Design_2-6.jpg");
  background-size: "cover";
  height: 100vh;
  width: 100vw;
  margin-top: -10px;
  background-position-y: center;
  background-position-x: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat:no-repeat;
}

.lgrad {
  background-image: linear-gradient(to right top, #3172b3, #2d424f, #316a7c, #2794a8, #06c1ce, #04cede, #02dcee, #00e9ff, #00d7ff, #00c3ff, #00aeff, #0096ff);
  height: 100vh;
}

.grad {
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0F5577 0%, 27.35191583633423%, #3AE0FF 54.70383167266846%, 77.35191583633423%, #3CFCFF 100%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(15, 85, 119, 1) 0%, 27.35191583633423%, rgba(58, 224, 255, 1) 54.70383167266846%, 77.35191583633423%, rgba(60, 252, 255, 1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

/* Gradient in Hex */
/* linear-gradient(to right, #0F5577 0%, 27.35191583633423%, #3AE0FF 54.70383167266846%, 77.35191583633423%, #3CFCFF 100%);*/

/* Gradient in RGBA */
/* linear-gradient(to right, rgba(15, 85, 119, 1) 0%, 27.35191583633423%, rgba(58, 224, 255, 1) 54.70383167266846%, 77.35191583633423%, rgba(60, 252, 255, 1) 100%); */

.gradlite {
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #04d2fc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #03c8f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

a {
  color: magenta;
}

a:hover {
  color: #1e2022;
}


